@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

main {
  width: 100%;
}

main .header {
  background: url(../images/pattern-bg.png) no-repeat center/cover;
  color: #fff;
  max-height: 35vh;
  display: flex;
  flex-direction: column;
  padding: 25px 0px;
}

@media only screen and (min-height: 1365px) {
  main .header {
    max-height: 20vh;
  }
}

main .header h1 {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}

@media only screen and (min-width: 1024px) {
  main .header h1 {
    font-size: 30px;
  }
}

main .header form {
  text-align: center;
  margin: 0px 0px 20px 0px;
}

@media only screen and (min-width: 1024px) {
  main .header form {
    margin: 0px 0px 45px 0px;
  }
}

@media only screen and (max-width: 325px) {
  main .header form {
    margin: 0px 0px 20px 0px;
  }
}

main .header form input {
  background: #fff;
  padding: 16px;
  border-radius: 12px 0px 0px 12px;
  font-family: "Rubik", sans-serif;
  position: relative;
  right: -1%;
  width: 75%;
  color: #2b2b2b;
  margin-top: 20px;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  main .header form input {
    font-size: 18px;
    width: 30%;
  }
}

main .header form button {
  position: relative;
  padding: 16px;
  left: -1%;
  width: 15%;
  background: #000;
  outline: none;
  border: none;
  border-radius: 0px 12px 12px 0px;
  cursor: pointer;
  transition: 0.2s linear;
}

@media only screen and (min-width: 1024px) {
  main .header form button {
    font-size: 19px;
    width: 4%;
  }
}

main .header form button img {
  width: 10px;
}

main .header form button:hover {
  background: #383838;
}

main .header form input[type="text"]::placeholder {
  font-size: 12px;
  color: #969696;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

@media only screen and (min-width: 1024px) {
  main .header form input[type="text"]::placeholder {
    font-size: 16px;
  }
}

main .header .parameters {
  display: block;
  margin: auto;
  text-align: center;
  background: #fff;
  z-index: 20;
  width: 90%;
  border-radius: 12px;
  padding: 10px 25px;
}

@media only screen and (min-width: 1024px) {
  main .header .parameters {
    width: 75%;
    display: flex;
    justify-content: center;
    text-align: start;
    align-items: center;
    height: 300px;
    padding: 20px 10px;
  }
}

main .header .parameters hr {
  display: none;
}

@media only screen and (min-width: 1024px) {
  main .header .parameters hr {
    display: inline-block;
    margin: 0px 10px;
    opacity: 0.3;
    height: 60%;
  }
}

main .header .parameters .p-container {
  margin: 15px 0px;
}

@media only screen and (min-width: 1024px) {
  main .header .parameters .p-container {
    width: 240px;
    padding: 0px 10px;
  }
}

main .header .parameters .p-container h6 {
  color: #969696;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 9px;
  margin: 0px 0px 8px 0px;
}

@media only screen and (min-width: 1024px) {
  main .header .parameters .p-container h6 {
    font-size: 10px;
  }
}

@media only screen and (max-width: 325px) {
  main .header .parameters .p-container h6 {
    font-size: 8px;
  }
}

main .header .parameters .p-container h4 {
  font-size: 20px;
  color: #2b2b2b;
}

@media only screen and (min-width: 1024px) {
  main .header .parameters .p-container h4 {
    font-size: 23px;
  }
}

@media only screen and (max-width: 325px) {
  main .header .parameters .p-container h4 {
    font-size: 16px;
  }
}

#mapid {
  z-index: 1;
  height: 65vh;
}

@media only screen and (min-height: 1365px) {
  #mapid {
    height: 80vh;
  }
}
/*# sourceMappingURL=styles.css.map */