@import 'variables.scss';

@mixin QuerieMinWidth($breakpoint){
    @media only screen and(min-width: $breakpoint){
        @content
    }
};

@mixin QuerieMaxWidth($breakpoint) {
    @media only screen and (max-width: $breakpoint){
        @content
    }
};

@mixin QuerieMinHeight($breakpoint) {
    @media only screen and (min-height: $breakpoint){
        @content
    }
};

@mixin QuerieMaxHeight($breakpoint) {
    @media only screen and (max-height: $breakpoint){
        @content
    }
};

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: $Rubik;
}

main {
    width: 100%;

    .header {  
        background: url(../images/pattern-bg.png)no-repeat center/cover;
        color: #fff;
        max-height: 35vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 0px;

        @include QuerieMinHeight($ipadPro){
            max-height: 20vh;
        }

        h1 {
            font-weight: 400;
            font-size: 25px;

            @include QuerieMinWidth($laptop){
                font-size: 30px;
            }

        }

        form {
            text-align: center;
            width: 90%;
            margin: 0px 0px 20px 0px;
            
            @include QuerieMinWidth($laptop){
                width: 50%;
                margin: 0px 0px 50px 0px;
            }

            @include QuerieMaxWidth($mobileSm){
                margin: 0px 0px 20px 0px;
            }

            input {
                background: #fff;
                padding: 16px 20px;
                border-radius:$borderR 0px 0px $borderR;
                font-family: $Rubik;
                width: 75%;
                color: $VeryDarkGray;
                margin-top: 20px;
                font-weight: 400;
                border: none;
                outline: none;
                cursor: pointer;

                @include QuerieMinWidth($laptop){
                    font-size: 18px;
                }

            }
            
            button {
                position: relative;
                padding: 16px 20px;
                left: -5px;
                background: #000;
                outline: none;
                border: none;
                border-radius: 0px $borderR $borderR 0px;
                cursor: pointer;
                transition: 0.2s linear;

                @include QuerieMinWidth($laptop){
                    font-size: 19px;
                }

                img {
                    width: 80%;
                }

            }

            button:hover {
                background: $VeryDarkGrayH;
            }
    
            input[type="text"]::placeholder {
                font-size: 12px;
                font-family: $Rubik;
                font-weight: 400;

                @include QuerieMinWidth($laptop){
                    font-size: 14px;
                }
            }
        }

    }

    .parameters {
        text-align: center;
        background: #fff;
        width: 82%;
        z-index: 20;
        border-radius: $borderR;
        padding: 10px 20px;

        @include QuerieMinWidth($laptop){
            width: 75%;
            display: flex;
            justify-content: space-evenly;
            text-align: start;
            align-items: center;
            height: 280px;
            padding: 15px 30px;
        }

        hr {
            display: none;

            @include QuerieMinWidth($laptop){
                display: inline-block;
                margin: 0px 10px;
                opacity: 0.3;
                height: 50%;
            }

        }

        .p-container {
            margin: 15px 0px;
            
            h6 {
                color: $DarkGray;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 9px;
                margin: 0px 0px 8px 0px;

                @include QuerieMinWidth($laptop){
                    font-size: 14px;
                }

                @include QuerieMaxWidth($mobileSm){
                    font-size: 8px;
                }

            }
            
            h4 {
                font-size: 20px;
                color: $VeryDarkGray;

                @include QuerieMinWidth($laptop){
                    font-size: 25px;
                }

                @include QuerieMaxWidth($mobileSm){
                    font-size: 16px;
                }
                
            }
        }
    }
}

#mapid {
    z-index: 1;
    height: 65vh;

    @include QuerieMinHeight($ipadPro){
        height: 80vh;
    }

}