@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

// Breakpoints 
$mobile: 375px;
$mobileSm: 325px;
$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$ipadPro: 1365px;

// Font
$Rubik: 'Rubik', sans-serif;

// Colors
$VeryDarkGray: hsl(0, 0%, 17%);
$VeryDarkGrayH: hsl(0, 0%, 22%);
$DarkGray: hsl(0, 0%, 59%);

// Borders
$borderR: 12px;